In [1]:
import pandas as pd

df = pd.read_csv("./data/cursos-prouni.csv")

df.head()

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,Bacharelado,Integral,9999.99,15.0,14.0,NaN,NaN,706710394154,Medicina,Campo Grande,MS,NTAwMjAwNDAyNzA0,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,706710,Medicina,740.22,726.46,NaN,NaN
1,Bacharelado,Noturno,9836.40,1.0,NaN,NaN,NaN,104191210567043,Enfermagem,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Enfermagem,663.36,NaN,NaN,NaN
2,Bacharelado,Integral,9715.61,2.0,5.0,6.0,10.0,1002328574024,Medicina,Sao Paulo,SP,MzUxNTA2MTUwMzA4,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,1002328,Medicina,739.62,738.08,738.96,718.64
3,Bacharelado,Noturno,9689.34,3.0,2.0,NaN,NaN,104191212798093,Psicologia,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Psicologia,651.00,652.22,NaN,NaN
4,Bacharelado,Integral,9674.34,4.0,1.0,5.0,2.0,65899611932754,Medicina,Rio Branco,AC,MTIwMjAwNDAwNDAx,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,658996,Medicina,758.32,723.94,734.92,711.26

In [2]:
df.describe()

,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,campus_id,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
count,41447.000000,32520.000000,25404.000000,8828.000000,13041.000000,4.144700e+04,4.144700e+04,32520.000000,16802.000000,16350.000000,5519.000000
mean,622.636966,1.535394,2.513541,1.873018,8.632544,4.207360e+13,6.786530e+05,575.982999,564.470439,527.517136,511.799638
std,606.442296,2.191578,3.019549,2.336403,18.372991,6.061552e+13,6.398410e+05,57.827594,57.869145,60.202170,56.787140
min,139.000000,0.000000,1.000000,1.000000,1.000000,2.248801e+07,2.240000e+02,450.000000,450.000000,450.000000,450.000000
25%,278.000000,0.000000,1.000000,1.000000,1.000000,6.460131e+11,1.172300e+04,544.360000,532.865000,453.980000,450.000000
50%,393.350000,1.000000,1.000000,1.000000,2.000000,2.003572e+12,6.587550e+05,580.740000,571.450000,532.420000,511.820000
75%,825.000000,2.000000,3.000000,2.000000,6.000000,1.036636e+14,1.058794e+06,614.145000,603.315000,573.235000,557.170000
max,9999.990000,58.000000,67.000000,74.000000,350.000000,2.008632e+14,2.008633e+06,781.200000,792.240000,776.360000,768.340000

In [3]:
df.curso_busca.value_counts().head(20)

curso_busca
Administração                            2754
Pedagogia                                2555
Ciências Contábeis                       2056
Gestão de Recursos Humanos               1595
Educação Física                          1528
Serviço Social                           1166
Direito                                  1093
Logística                                1042
Processos Gerenciais                     1011
Análise e Desenvolvimento de Sistemas    1008
Engenharia Civil                          906
Matemática                                905
Enfermagem                                903
História                                  898
Gestão Comercial                          880
Gestão Pública                            839
Gestão Financeira                         821
Engenharia de Produção                    803
Marketing                                 757
Psicologia                                647
Name: count, dtype: int64

In [4]:
df.loc[df.mensalidade >= 8000, ['universidade_nome', 'curso_busca', 'mensalidade']]

,universidade_nome,curso_busca,mensalidade
0,Universidade Anhanguera - UNIDERP,Medicina,9999.99
1,Faculdade Princesa do Oeste - FPO,Enfermagem,9836.40
2,Universidade Cidade de São Paulo - UNICID,Medicina,9715.61
3,Faculdade Princesa do Oeste - FPO,Psicologia,9689.34
4,Faculdade Barão do Rio Branco - FAB,Medicina,9674.34
5,Universidade do Oeste Paulista - UNOESTE,Medicina,9650.00
6,Universidade de Marília - UNIMAR,Medicina,9564.00
7,Centro Universitário Presidente Tancredo de Al...,Medicina,9350.00
8,Universidade de Cuiabá - UNIC/UNIME,Medicina,9208.00
9,Faculdade de Ciências Agrárias e da Saúde - FAS,Medicina,9048.00
10,Faculdade Redentor - FACREDENTOR,Medicina,9023.07
11,Universidade Salvador - UNIFACS,Engenharia de Computação,8695.43
12,Claretiano - Faculdade - Claretianorc - CLARET...,Medicina,8600.00
13,Faculdade Metropolitana da Amazônia - FAMAZ,Medicina,8508.54
14,Faculdade Dom Bosco - FDB,Educação Física,8466.72
15,Faculdade Dom Bosco - FDB,Educação Física,8466.72
16,"Faculdade de Ciências Humanas,Exatas e da Saúd...",Medicina,8402.00
17,Faculdade de Medicina Nova Esperança - FAMENE,Medicina,8350.00
18,Universidade de Caxias do Sul - UCS,Medicina,8329.95
19,Pontifícia Universidade Católica do Paraná - P...,Medicina,8290.00
20,Universidade do Ceuma - Uniceuma - UNICEUMA,Medicina,8281.38
21,Universidade do Ceuma - Uniceuma - UNICEUMA,Medicina,8281.37
22,Faculdade das Américas - FAM,Medicina,8200.00
23,Universidade Anhembi Morumbi - UAM,Medicina,8200.00
24,Faculdade da Saúde e Ecologia Humana - FASEH,Medicina,8195.00
25,Universidade Presidente Antônio Carlos - UNIPAC,Medicina,8140.00
26,Pontifícia Universidade Católica de Campinas -...,Medicina,8125.00
27,Universidade Salvador - UNIFACS,Medicina,8107.41
28,Faculdade Ages de Medicina - Faculdade AGES,Medicina,8100.00

In [5]:
df.groupby(['uf_busca', 'curso_busca'])['mensalidade'].agg(['mean']).sort_values(by=['uf_busca', 'mean'], ascending=False).head()

                                                  mean
uf_busca curso_busca
TO       Medicina                          7690.156667
         Odontologia                       2193.836000
         Medicina Veterinária              2059.575000
         Engenharia de Minas               1314.740000
         Engenharia Ambiental e Sanitária  1251.240000

### Criando uma função e aplicando em uma coluna inteira para gerar uma nova coluna

In [6]:
def duplicaBolsa(rows):
    return rows*2

In [7]:
df['nova_bolsa'] = df.bolsa_integral_ampla.apply(duplicaBolsa)
df.head()

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,...,cidade_filtro,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas,nova_bolsa
0,Bacharelado,Integral,9999.99,15.0,14.0,NaN,NaN,706710394154,Medicina,Campo Grande,...,NTAwMjAwNDAyNzA0,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,706710,Medicina,740.22,726.46,NaN,NaN,28.0
1,Bacharelado,Noturno,9836.40,1.0,NaN,NaN,NaN,104191210567043,Enfermagem,Crateus,...,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Enfermagem,663.36,NaN,NaN,NaN,NaN
2,Bacharelado,Integral,9715.61,2.0,5.0,6.0,10.0,1002328574024,Medicina,Sao Paulo,...,MzUxNTA2MTUwMzA4,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,1002328,Medicina,739.62,738.08,738.96,718.64,10.0
3,Bacharelado,Noturno,9689.34,3.0,2.0,NaN,NaN,104191212798093,Psicologia,Crateus,...,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Psicologia,651.00,652.22,NaN,NaN,4.0
4,Bacharelado,Integral,9674.34,4.0,1.0,5.0,2.0,65899611932754,Medicina,Rio Branco,...,MTIwMjAwNDAwNDAx,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,658996,Medicina,758.32,723.94,734.92,711.26,2.0

### Aplicando uma função lambda em uma coluna para gerar uma nova coluna

In [8]:
df['nova_bolsa2'] = df.bolsa_integral_ampla.apply(lambda x : x * 100)
df.head()

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,...,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas,nova_bolsa,nova_bolsa2
0,Bacharelado,Integral,9999.99,15.0,14.0,NaN,NaN,706710394154,Medicina,Campo Grande,...,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,706710,Medicina,740.22,726.46,NaN,NaN,28.0,1400.0
1,Bacharelado,Noturno,9836.40,1.0,NaN,NaN,NaN,104191210567043,Enfermagem,Crateus,...,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Enfermagem,663.36,NaN,NaN,NaN,NaN,NaN
2,Bacharelado,Integral,9715.61,2.0,5.0,6.0,10.0,1002328574024,Medicina,Sao Paulo,...,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,1002328,Medicina,739.62,738.08,738.96,718.64,10.0,500.0
3,Bacharelado,Noturno,9689.34,3.0,2.0,NaN,NaN,104191212798093,Psicologia,Crateus,...,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Psicologia,651.00,652.22,NaN,NaN,4.0,200.0
4,Bacharelado,Integral,9674.34,4.0,1.0,5.0,2.0,65899611932754,Medicina,Rio Branco,...,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,658996,Medicina,758.32,723.94,734.92,711.26,2.0,100.0

In [9]:
cursos_df = df[['cidade_busca', 'universidade_nome', 'nome', 'mensalidade', 'nota_integral_ampla']]
cursos_df

,cidade_busca,universidade_nome,nome,mensalidade,nota_integral_ampla
0,Campo Grande,Universidade Anhanguera - UNIDERP,Medicina,9999.99,740.22
1,Crateus,Faculdade Princesa do Oeste - FPO,Enfermagem,9836.40,663.36
2,Sao Paulo,Universidade Cidade de São Paulo - UNICID,Medicina,9715.61,739.62
3,Crateus,Faculdade Princesa do Oeste - FPO,Psicologia,9689.34,651.00
4,Rio Branco,Faculdade Barão do Rio Branco - FAB,Medicina,9674.34,758.32
...,...,...,...,...,...
41442,Paraiso do Tocantins,Universidade Paulista - UNIP,Sociologia,149.00,502.36
41443,Sao VIcente,Faculdade de São VIcente - FSV,Marketing,144.00,533.34
41444,Brasilia,Centro Universitário Planalto do Distrito Fede...,Gestão de Recursos Humanos,139.00,580.76
41445,Vitoria,Universidade Paulista - UNIP,Serviço Social,139.00,548.26
41446,Santarem,Universidade Paulista - UNIP,Gestão Ambiental,139.00,605.32

In [10]:
cursos_df[:2]

,cidade_busca,universidade_nome,nome,mensalidade,nota_integral_ampla
0,Campo Grande,Universidade Anhanguera - UNIDERP,Medicina,9999.99,740.22
1,Crateus,Faculdade Princesa do Oeste - FPO,Enfermagem,9836.40,663.36

In [11]:
cursos_df.loc[:3,'mensalidade']

0    9999.99
1    9836.40
2    9715.61
3    9689.34
Name: mensalidade, dtype: float64

In [12]:
cursos_df.iloc[:, 0:4]

,cidade_busca,universidade_nome,nome,mensalidade
0,Campo Grande,Universidade Anhanguera - UNIDERP,Medicina,9999.99
1,Crateus,Faculdade Princesa do Oeste - FPO,Enfermagem,9836.40
2,Sao Paulo,Universidade Cidade de São Paulo - UNICID,Medicina,9715.61
3,Crateus,Faculdade Princesa do Oeste - FPO,Psicologia,9689.34
4,Rio Branco,Faculdade Barão do Rio Branco - FAB,Medicina,9674.34
...,...,...,...,...
41442,Paraiso do Tocantins,Universidade Paulista - UNIP,Sociologia,149.00
41443,Sao VIcente,Faculdade de São VIcente - FSV,Marketing,144.00
41444,Brasilia,Centro Universitário Planalto do Distrito Fede...,Gestão de Recursos Humanos,139.00
41445,Vitoria,Universidade Paulista - UNIP,Serviço Social,139.00
41446,Santarem,Universidade Paulista - UNIP,Gestão Ambiental,139.00

In [22]:
import numpy as np
df_crosstab = pd.crosstab(df.universidade_nome, df.nome, values=df.bolsa_integral_ampla, aggfunc=np.sum, margins=True)
df_crosstab

nome,Administração,Administração Pública,Administração de Empresas,Administração de Recursos Humanos,Agroindústria,Agronegócio,Agronomia,Agropecuária,Alimentos,Análise e Desenvolvimento de Sistemas,...,Terapia Ocupacional,Tradutor e Intérprete,Turismo,Turismo Receptivo,Turismo e Hotelaria,Visagismo e Terapias Capilares,Viticultura e Enologia,Zootecnia,Óptica e Optometria,All
universidade_nome,,,,,,,,,,,,,,,,,,,,,
Alfa - Faculdade de Almenara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
Atopp Brasil Faculdade de Negócios - Atopp Brasil - ATOPP BRASIL,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0
Centro Superior de Estudos Jurídicos Carlos Drummond de Andrade - Csejcda - CSEJCDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
Centro Técnico-Educacional Superior do Oeste Paranaense - Ctesop - CTESOP,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
Centro Universitario Projeção - UNIPROJEÇÃO,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
União Latino-Americana de Tecnologia - ULT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
União das Faculdades dos Grandes Lagos - UNILAGO,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
União de Ensino Superior de Saúde e Tecnologia de Planaltina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0
Área1 - Faculdade de Ciência e Tecnologia - Área1 - ÁREA1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
All,5175.0,61.0,2.0,33.0,1.0,137.0,363.0,4.0,2.0,969.0,...,37.0,8.0,126.0,8.0,15.0,9.0,NaN,23.0,5.0,63854.0

In [28]:
df.groupby(['nome'])['bolsa_integral_ampla'].sum().sort_values(ascending=False)

nome
Pedagogia                                        5506.0
Administração                                    5175.0
Direito                                          4664.0
Educação Física                                  3364.0
Ciências Contábeis                               2838.0
                                                  ...
Comunicação Social  - Radialismo                    0.0
Comunicação Social - Cinema e Mídias Digitais       0.0
Estética, Beleza e Imagem Pessoal                   0.0
Refrigeração e Climatização                         0.0
Gerência de Negócios                                0.0
Name: bolsa_integral_ampla, Length: 296, dtype: float64